In [ ]:
import os, shutil
from psycopg2.extras import execute_batch


# make data folder if not exists
os.makedirs("data", exist_ok=True)

# if uploaded at /content/data.csv, move it into data/data.csv
if os.path.exists("data.csv"):
    shutil.move("data.csv", "data/data.csv")

# check
!ls data

In [ ]:
### Utility Functions
import pandas as pd
import sqlite3
from sqlite3 import Error

def create_connection(db_file, delete_db=False):
    import os
    if delete_db and os.path.exists(db_file):
        os.remove(db_file)

    conn = None
    try:
        conn = sqlite3.connect(db_file)
        conn.execute("PRAGMA foreign_keys = 1")
    except Error as e:
        print(e)

    return conn


def create_table(conn, create_table_sql, drop_table_name=None):

    if drop_table_name: # You can optionally pass drop_table_name to drop the table.
        try:
            c = conn.cursor()
            c.execute("""DROP TABLE IF EXISTS %s""" % (drop_table_name))
        except Error as e:
            print(e)

    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

def execute_sql_statement(sql_statement, conn):
    cur = conn.cursor()
    cur.execute(sql_statement)

    rows = cur.fetchall()

    return rows

def step1_create_region_table(data_filename, normalized_database_filename):
    # Inputs: Name of the data and normalized database filename
    # Output: None
  conn = create_connection(normalized_database_filename, delete_db=True)
  regions = set()

  with open(data_filename, "r", encoding="utf-8") as f:
    next(f)
    for line in f:
      line = line.rstrip("\n")
      if not line:
        continue
      parts = line.split("\t")
      if len(parts) < 5:
        continue
      region = parts[4].strip()
      if region:
        regions.add(region)

  region_list = sorted(regions)

  create_sql = """
  CREATE TABLE IF NOT EXISTS Region (
    RegionID INTEGER NOT NULL PRIMARY KEY,
    Region TEXT NOT NULL
  );
  """
  create_table(conn, create_sql, drop_table_name="Region")

  values = []
  for idx, reg in enumerate(region_list, start=1):
    values.append((idx, reg))

  with conn:
    conn.executemany(
      "INSERT INTO Region (RegionID, Region) VALUES (?, ?);",
      values
    )
  conn.close()


# WRITE YOUR CODE HERE

def step2_create_region_to_regionid_dictionary(normalized_database_filename):
  pass
  conn = create_connection(normalized_database_filename)
  sql = "SELECT RegionID, Region FROM Region;"
  rows = execute_sql_statement(sql, conn)

  region_to_regionid_dict = {}
  for region_id, region in rows:
    region_to_regionid_dict[region] = region_id

  conn.close()
  return region_to_regionid_dict



# WRITE YOUR CODE HERE


def step3_create_country_table(data_filename, normalized_database_filename):
  pass
  # Inputs: Name of the data and normalized database filename
  # Output: None

  conn = create_connection(normalized_database_filename)
  region_dict = step2_create_region_to_regionid_dictionary(normalized_database_filename)

  country_region_set = set()

  with open(data_filename, "r", encoding="utf-8") as f:
    next(f)
    for line in f:
      line = line.rstrip("\n")
      if not line:
        continue
      parts = line.split("\t")
      if len(parts) < 5:
        continue
      country = parts[3].strip()
      region = parts[4].strip()
      if country and region:
        country_region_set.add((country, region))

  country_region_list = sorted(country_region_set, key=lambda x: x[0])

  create_sql = """
  CREATE TABLE IF NOT EXISTS Country (
    CountryID INTEGER NOT NULL PRIMARY KEY,
    Country TEXT NOT NULL,
    RegionID INTEGER NOT NULL,
    FOREIGN KEY (RegionID) REFERENCES Region(RegionID)
  );
  """
  create_table(conn, create_sql, drop_table_name="Country")

  values = []
  for idx, (country, region) in enumerate(country_region_list, start=1):
    region_id = region_dict.get(region)
    if region_id is not None:
      values.append((idx, country, region_id))

  with conn:
    conn.executemany(
      "INSERT INTO Country (CountryID, Country, RegionID) VALUES (?, ?, ?);",
      values
    )
  conn.close()

# WRITE YOUR CODE HERE


def step4_create_country_to_countryid_dictionary(normalized_database_filename):
  pass
  conn = create_connection(normalized_database_filename)
  sql = "SELECT CountryID, Country FROM Country;"
  rows = execute_sql_statement(sql, conn)

  country_to_countryid_dict = {}
  for country_id, country in rows:
    country_to_countryid_dict[country] = country_id

  conn.close()
  return country_to_countryid_dict

# WRITE YOUR CODE HERE


def step5_create_customer_table(data_filename, normalized_database_filename):
  pass
  conn = create_connection(normalized_database_filename)
  country_dict = step4_create_country_to_countryid_dictionary(normalized_database_filename)

  customers = []

  with open(data_filename, "r", encoding="utf-8") as f:
    next(f)
    for line in f:
      line = line.rstrip("\n")
      if not line:
        continue
      parts = line.split("\t")
      if len(parts) < 5:
        continue

      full_name = parts[0].strip()
      address = parts[1].strip()
      city = parts[2].strip()
      country_name = parts[3].strip()

      name_parts = full_name.split()
      if len(name_parts) == 0:
        first_name = " "
        last_name = " "
      elif len(name_parts) == 1:
        first_name = name_parts[0]
        last_name = ""
      else:
        first_name = name_parts[0]
        last_name = " ".join(name_parts[1:])

      country_id = country_dict.get(country_name)
      if country_id is None:
        continue

      sort_key = (first_name + " " + last_name).strip()
      customers.append((sort_key, first_name, last_name, address, city, country_id))

  customers.sort(key=lambda x: x[0])

  create_sql = """
  CREATE TABLE IF NOT EXISTS Customer (
    CustomerID INTEGER NOT NULL PRIMARY KEY,
    FirstName TEXT NOT NULL,
    LastName TEXT NOT NULL,
    Address TEXT NOT NULL,
    City TEXT NOT NULL,
    CountryID INTEGER NOT NULL,
    FOREIGN KEY (CountryID) REFERENCES Country(CountryID)
  );
  """

  create_table(conn, create_sql, drop_table_name="Customer")

  values = []
  for idx, (_, first_name, last_name, address, city, country_id) in enumerate(customers, start=1):
    values.append((idx, first_name, last_name, address, city, country_id))

  with conn:
    conn.executemany(
      "INSERT INTO Customer (CustomerID, FirstName, LastName, Address, City, CountryID) VALUES (?, ?, ?, ?, ?, ?);",
      values
    )

  conn.close()


# WRITE YOUR CODE HERE


def step6_create_customer_to_customerid_dictionary(normalized_database_filename):
  pass
  conn = create_connection(normalized_database_filename)
  sql = "SELECT CustomerID, FirstName, LastName FROM Customer;"
  rows = execute_sql_statement(sql, conn)

  customer_to_customerid_dict = {}
  for customer_id, first_name, last_name in rows:
    name = (first_name + " " + last_name).strip()
    customer_to_customerid_dict[name] = customer_id
  conn.close()
  return customer_to_customerid_dict


# WRITE YOUR CODE HERE

def step7_create_productcategory_table(data_filename, normalized_database_filename):
  conn = create_connection(normalized_database_filename)

  category_to_desc = {}

  with open(data_filename, "r", encoding="utf-8") as f:
    next(f)
    for line in f:
      line = line.rstrip("\n")
      if not line:
        continue
      parts = line.split("\t")
      if len(parts) < 8:
        continue

      categories_str = parts[6].strip()
      descs_str = parts[7].strip()

      categories = categories_str.split(";")
      descs = descs_str.split(";")

      for cat, desc in zip(categories, descs):
        cat = cat.strip()
        desc = desc.strip()
        if not cat:
          continue
        if cat not in category_to_desc:
          category_to_desc[cat] = desc

  category_items = sorted(category_to_desc.items(), key=lambda x: x[0])

  create_sql = """
  CREATE TABLE IF NOT EXISTS ProductCategory (
    ProductCategoryID INTEGER NOT NULL PRIMARY KEY,
    ProductCategory TEXT NOT NULL,
    ProductCategoryDescription TEXT NOT NULL
  );
  """
  create_table(conn, create_sql, drop_table_name="ProductCategory")

  values = []
  for idx, (cat, desc) in enumerate(category_items, start=1):
    values.append((idx, cat, desc))


  with conn:
    conn.executemany(
      "INSERT INTO ProductCategory (ProductCategoryID, ProductCategory, ProductCategoryDescription) VALUES (?, ?, ?);",
      values
    )
  conn.close()

    # Inputs: Name of the data and normalized database filename
    # Output: None


# WRITE YOUR CODE HERE

def step8_create_productcategory_to_productcategoryid_dictionary(normalized_database_filename):

  conn = create_connection(normalized_database_filename)

  sql = "SELECT ProductCategoryID, ProductCategory FROM ProductCategory;"
  rows = execute_sql_statement(sql, conn)

  Productcategory_to_productcategoryid_dict = {}
  for category_id, category_name in rows:
    Productcategory_to_productcategoryid_dict[category_name] = category_id

  conn.close()

  return Productcategory_to_productcategoryid_dict

# WRITE YOUR CODE HERE


def step9_create_product_table(data_filename, normalized_database_filename):
  conn = create_connection(normalized_database_filename)

  productcategory_dict = step8_create_productcategory_to_productcategoryid_dictionary(
    normalized_database_filename
  )
  product_set = set()

  with open(data_filename, "r", encoding="utf-8") as f:
    next(f)

    for line in f:
      line = line.rstrip("\n")
      if not line:
        continue

      parts = line.split("\t")
      if len(parts) < 9:
        continue

      product_names_str = parts[5].strip()
      categories_str = parts[6].strip()
      prices_str = parts[8].strip()

      if not product_names_str:
        continue

      product_names = product_names_str.split(";")
      categories = categories_str.split(";")
      prices = prices_str.split(";")

      for name, cat, price_str in zip(product_names, categories, prices):
        name = name.strip()
        cat = cat.strip()
        price_str = price_str.strip()

        if not name or not cat or not price_str:
          continue

        try:
          unit_price = float(price_str)
        except ValueError:
          continue

        category_id = productcategory_dict.get(cat)
        if category_id is None:
          continue

        product_set.add((name, unit_price, category_id))

  product_list = sorted(product_set, key=lambda x: x[0])

  create_sql = """
  CREATE TABLE IF NOT EXISTS Product (
    ProductID INTEGER NOT NULL PRIMARY KEY,
    ProductName TEXT NOT NULL,
    ProductUnitPrice REAL NOT NULL,
    ProductCategoryID INTEGER NOT NULL,
  FOREIGN KEY (ProductCategoryID) REFERENCES ProductCategory(ProductCategoryID)
  );
  """
  create_table(conn, create_sql, drop_table_name="Product")

  values = []
  for idx, (name, unit_price, category_id) in enumerate(product_list, start=1):
    values.append((idx, name, unit_price, category_id))

  with conn:
    conn.executemany(
      "INSERT INTO Product (ProductID, ProductName, ProductUnitPrice, ProductCategoryID) "
      "VALUES (?, ?, ?, ?);",
      values
    )
  conn.close()
    # Inputs: Name of the data and normalized database filename
    # Output: None


# WRITE YOUR CODE HERE


def step10_create_product_to_productid_dictionary(normalized_database_filename):
  conn = create_connection(normalized_database_filename)

  sql = "SELECT ProductID, ProductName FROM Product;"
  rows = execute_sql_statement(sql, conn)

  product_to_productid_dict = {}
  for product_id, product_name in rows:
    product_to_productid_dict[product_name] = product_id

  conn.close()

  return product_to_productid_dict

# WRITE YOUR CODE HERE

import datetime

def step11_create_orderdetail_table(data_filename, normalized_database_filename):
  conn = create_connection(normalized_database_filename)

  customer_dict = step6_create_customer_to_customerid_dictionary(normalized_database_filename)
  product_dict = step10_create_product_to_productid_dictionary(normalized_database_filename)


  create_sql = """
  CREATE TABLE IF NOT EXISTS OrderDetail (
    OrderID INTEGER NOT NULL PRIMARY KEY,
    CustomerID INTEGER NOT NULL,
    ProductID INTEGER NOT NULL,
    OrderDate TEXT NOT NULL,
    QuantityOrdered INTEGER NOT NULL,
    FOREIGN KEY (CustomerID) REFERENCES Customer(CustomerID),
    FOREIGN KEY (ProductID) REFERENCES Product(ProductID)
  );
  """

  create_table(conn, create_sql, drop_table_name="OrderDetail")
  order_rows = []
  order_id = 1

  with open(data_filename, "r", encoding="utf-8") as f:
    next(f)
    for line in f:
      line = line.rstrip("\n")
      if not line:
        continue
      parts = line.split("\t")
      if len(parts) < 11:
        continue

      raw_full_name = parts[0].strip()
      name_parts = raw_full_name.split()
      if len(name_parts) == 0:
        first_name = " "
        last_name = " "
      elif len(name_parts) == 1:
        first_name = name_parts[0]
        last_name = ""
      else:
        first_name = name_parts[0]
        last_name = " ".join(name_parts[1:])
      norm_full_name = (first_name + " " + last_name).strip()
      customer_id = customer_dict.get(norm_full_name)
      if customer_id is None:
        continue

      names_str = parts[5].strip()
      prices_str = parts[8].strip()
      qtys_str = parts[9].strip()
      dates_str = parts[10].strip()

      if not names_str or not prices_str or not qtys_str or not dates_str:
        continue

      names = names_str.split(";")
      prices = prices_str.split(";")
      qtys = qtys_str.split(";")
      dates = dates_str.split(";")

      for name, price, qty, date_str in zip(names, prices, qtys, dates):
        name = name.strip()
        if not name:
          continue

        product_id = product_dict.get(name)
        if product_id is None:
          continue

        date_str = date_str.strip()
        if not date_str:
          continue

        try:
          order_date = datetime.datetime.strptime(date_str, "%Y%m%d").strftime("%Y-%m-%d")
        except ValueError:
          continue

        try:
          quantity = int(qty)
        except ValueError:
          continue

        order_rows.append((order_id, customer_id, product_id, order_date, quantity))
        order_id += 1

  with conn:
    conn.executemany(
      "INSERT INTO OrderDetail (OrderID, CustomerID, ProductID, OrderDate, QuantityOrdered) "
      "VALUES (?, ?, ?, ?, ?);",
      order_rows
    )
  conn.close()



# WRITE YOUR CODE HERE


def ex1(conn, CustomerName):

    # Simply, you are fetching all the rows for a given CustomerName.
    # Write an SQL statement that SELECTs From the OrderDetail table and joins with the Customer and Product table.
    # Pull out the following columns.
    # Name -- concatenation of FirstName and LastName
    # ProductName
    # OrderDate
    # ProductUnitPrice
    # QuantityOrdered
    # Total -- which is calculated from multiplying ProductUnitPrice with QuantityOrdered -- round to two decimal places
    # HINT: USE customer_to_customerid_dict to map customer name to customer id and then use where clause with CustomerID

    sql_statement = f"""
    SELECT
        Customer.FirstName || ' ' || Customer.LastName AS Name,
        Product.ProductName,
        OrderDetail.OrderDate,
        Product.ProductUnitPrice,
        OrderDetail.QuantityOrdered,
        ROUND(Product.ProductUnitPrice * OrderDetail.QuantityOrdered, 2) AS Total
    FROM OrderDetail
    JOIN Customer ON OrderDetail.CustomerID = Customer.CustomerID
    JOIN Product  ON OrderDetail.ProductID  = Product.ProductID
    WHERE Customer.FirstName || ' ' || Customer.LastName = '{CustomerName}';
    """
# WRITE YOUR CODE HERE
    return sql_statement

def ex2(conn, CustomerName):

    # Simply, you are summing the total for a given CustomerName.
    # Write an SQL statement that SELECTs From the OrderDetail table and joins with the Customer and Product table.
    # Pull out the following columns.
    # Name -- concatenation of FirstName and LastName
    # Total -- which is calculated from multiplying ProductUnitPrice with QuantityOrdered -- sum first and then round to two decimal places
    # HINT: USE customer_to_customerid_dict to map customer name to customer id and then use where clause with CustomerID

    sql_statement = f"""
    SELECT
        Customer.FirstName || ' ' || Customer.LastName AS Name,
        ROUND(SUM(Product.ProductUnitPrice * OrderDetail.QuantityOrdered), 2) AS Total
    FROM OrderDetail
    JOIN Customer ON OrderDetail.CustomerID = Customer.CustomerID
    JOIN Product  ON OrderDetail.ProductID  = Product.ProductID
    WHERE Customer.FirstName || ' ' || Customer.LastName = '{CustomerName}'
    GROUP BY Name;
    """
# WRITE YOUR CODE HERE
    return sql_statement

def ex3(conn):

    # Simply, find the total for all the customers
    # Write an SQL statement that SELECTs From the OrderDetail table and joins with the Customer and Product table.
    # Pull out the following columns.
    # Name -- concatenation of FirstName and LastName
    # Total -- which is calculated from multiplying ProductUnitPrice with QuantityOrdered -- sum first and then round to two decimal places
    # ORDER BY Total Descending

    sql_statement = """
    SELECT
        Customer.FirstName || ' ' || Customer.LastName AS Name,
        ROUND(SUM(Product.ProductUnitPrice * OrderDetail.QuantityOrdered), 2) AS Total
    FROM OrderDetail
    JOIN Customer ON OrderDetail.CustomerID = Customer.CustomerID
    JOIN Product ON OrderDetail.ProductID = Product.ProductID
    GROUP BY Customer.CustomerID
    ORDER BY Total DESC;
    """

# WRITE YOUR CODE HERE
    return sql_statement

def ex4(conn):

    # Simply, find the total for all the region
    # Write an SQL statement that SELECTs From the OrderDetail table and joins with the Customer, Product, Country, and
    # Region tables.
    # Pull out the following columns.
    # Region
    # Total -- which is calculated from multiplying ProductUnitPrice with QuantityOrdered -- sum first and then round to two decimal places
    # ORDER BY Total Descending

    sql_statement = """
    SELECT
        Region.Region AS Region,
        ROUND(SUM(Product.ProductUnitPrice * OrderDetail.QuantityOrdered), 2) AS Total
    FROM OrderDetail
    JOIN Customer ON OrderDetail.CustomerID = Customer.CustomerID
    JOIN Product ON OrderDetail.ProductID = Product.ProductID
    JOIN Country ON Customer.CountryID = Country.CountryID
    JOIN Region ON Country.RegionID = Region.RegionID
    GROUP BY Region.RegionID
    ORDER BY Total DESC;
    """
# WRITE YOUR CODE HERE
    return sql_statement

def ex5(conn):

    # Simply, find the total for all the countries
    # Write an SQL statement that SELECTs From the OrderDetail table and joins with the Customer, Product, and Country table.
    # Pull out the following columns.
    # Country
    # Total -- which is calculated from multiplying ProductUnitPrice with QuantityOrdered -- sum first and then round
    # ORDER BY Total Descending

    sql_statement = """
    SELECT
        Country.Country AS Country,
        ROUND(SUM(Product.ProductUnitPrice * OrderDetail.QuantityOrdered), 0) AS Total
    FROM OrderDetail
    JOIN Customer ON OrderDetail.CustomerID = Customer.CustomerID
    JOIN Product  ON OrderDetail.ProductID  = Product.ProductID
    JOIN Country  ON Customer.CountryID     = Country.CountryID
    GROUP BY Country.Country
    ORDER BY Total DESC;
    """

# WRITE YOUR CODE HERE
    return sql_statement


def ex6(conn):

    # Rank the countries within a region based on order total
    # Output Columns: Region, Country, CountryTotal, TotalRank
    # Hint: Round the the total
    # Hint: Sort ASC by Region

    sql_statement = """
    WITH CountryTotals AS (
        SELECT
            Region.Region AS Region,
            Country.Country AS Country,
            ROUND(SUM(Product.ProductUnitPrice * OrderDetail.QuantityOrdered), 0) AS CountryTotal
        FROM OrderDetail
        JOIN Customer ON OrderDetail.CustomerID = Customer.CustomerID
        JOIN Product  ON OrderDetail.ProductID  = Product.ProductID
        JOIN Country  ON Customer.CountryID     = Country.CountryID
        JOIN Region   ON Country.RegionID       = Region.RegionID
        GROUP BY Region.Region, Country.Country
    ),
    Ranked AS (
        SELECT
            Region,
            Country,
            CountryTotal,
            RANK() OVER (
                PARTITION BY Region
                ORDER BY CountryTotal DESC
            ) AS TotalRank
        FROM CountryTotals
    )
    SELECT
        Region,
        Country,
        CountryTotal,
        TotalRank
    FROM Ranked
    ORDER BY Region ASC, TotalRank ASC;
    """

# WRITE YOUR CODE HERE
    df = pd.read_sql_query(sql_statement, conn)
    return sql_statement



def ex7(conn):

    # Rank the countries within a region based on order total, BUT only select the TOP country, meaning rank = 1!
    # Output Columns: Region, Country, Total, TotalRank
    # Hint: Round the the total
    # Hint: Sort ASC by Region
    # HINT: Use "WITH"

    sql_statement = """
    WITH CountryTotals AS (
        SELECT
            Region.Region AS Region,
            Country.Country AS Country,
            ROUND(SUM(Product.ProductUnitPrice * OrderDetail.QuantityOrdered), 0) AS CountryTotal
        FROM OrderDetail
        JOIN Customer ON OrderDetail.CustomerID = Customer.CustomerID
        JOIN Product  ON OrderDetail.ProductID  = Product.ProductID
        JOIN Country  ON Customer.CountryID     = Country.CountryID
        JOIN Region   ON Country.RegionID       = Region.RegionID
        GROUP BY Region.Region, Country.Country
    ),
    Ranked AS (
        SELECT
            Region,
            Country,
            CountryTotal,
            RANK() OVER (
                PARTITION BY Region
                ORDER BY CountryTotal DESC
            ) AS CountryRegionalRank
        FROM CountryTotals
    )
    SELECT
        Region,
        Country,
        CountryTotal,
        CountryRegionalRank
    FROM Ranked
    WHERE CountryRegionalRank = 1
    ORDER BY Region ASC;
    """
# WRITE YOUR CODE HERE
    return sql_statement

def ex8(conn):

    # Sum customer sales by Quarter and year
    # Output Columns: Quarter,Year,CustomerID,Total
    # HINT: Use "WITH"
    # Hint: Round the the total
    # HINT: YOU MUST CAST YEAR TO TYPE INTEGER!!!!

    sql_statement = """
    WITH CustomerQuarterTotals AS (
        SELECT
            CASE
                WHEN CAST(strftime('%m', OrderDetail.OrderDate) AS INTEGER) BETWEEN 1 AND 3  THEN 'Q1'
                WHEN CAST(strftime('%m', OrderDetail.OrderDate) AS INTEGER) BETWEEN 4 AND 6  THEN 'Q2'
                WHEN CAST(strftime('%m', OrderDetail.OrderDate) AS INTEGER) BETWEEN 7 AND 9  THEN 'Q3'
                ELSE 'Q4'
            END AS Quarter,
            CAST(strftime('%Y', OrderDetail.OrderDate) AS INTEGER) AS Year,
            OrderDetail.CustomerID AS CustomerID,
            ROUND(SUM(Product.ProductUnitPrice * OrderDetail.QuantityOrdered), 0) AS Total
        FROM OrderDetail
        JOIN Product ON OrderDetail.ProductID = Product.ProductID
        GROUP BY Year, Quarter, CustomerID
    )
    SELECT
        Quarter,
        Year,
        CustomerID,
        Total
    FROM CustomerQuarterTotals
    ORDER BY Year, Quarter, CustomerID;
    """
# WRITE YOUR CODE HERE
    return sql_statement

def ex9(conn):

    # Rank the customer sales by Quarter and year, but only select the top 5 customers!
    # Output Columns: Quarter, Year, CustomerID, Total
    # HINT: Use "WITH"
    # Hint: Round the the total
    # HINT: YOU MUST CAST YEAR TO TYPE INTEGER!!!!
    # HINT: You can have multiple CTE tables;
    # WITH table1 AS (), table2 AS ()

    sql_statement = """
    WITH CustomerQuarterTotals AS (
        SELECT
            'Q' || ((CAST(strftime('%m', OrderDetail.OrderDate) AS INTEGER) - 1) / 3 + 1) AS Quarter,
            CAST(strftime('%Y', OrderDetail.OrderDate) AS INTEGER) AS Year,
            OrderDetail.CustomerID,
            ROUND(SUM(Product.ProductUnitPrice * OrderDetail.QuantityOrdered), 0) AS Total
        FROM OrderDetail
        JOIN Product ON OrderDetail.ProductID = Product.ProductID
        GROUP BY Year, Quarter, CustomerID
    ),
    Ranked AS (
        SELECT
            Quarter,
            Year,
            CustomerID,
            Total,
            DENSE_RANK() OVER (
                PARTITION BY Year, Quarter
                ORDER BY Total DESC
            ) AS CustomerRank
        FROM CustomerQuarterTotals
    )
    SELECT
        Quarter,
        Year,
        CustomerID,
        Total,
        CustomerRank
    FROM Ranked
    WHERE CustomerRank <= 5
    ORDER BY Year ASC, Quarter ASC, CustomerRank ASC, Total DESC;
    """
# WRITE YOUR CODE HERE
    return sql_statement

def ex10(conn):

    # Rank the monthy sales
    # Output Columns: Quarter, Year, CustomerID, Total
    # HINT: Use "WITH"
    # Hint: Round the the total

    sql_statement = """
    WITH MonthTotals AS (
        SELECT
            CAST(strftime('%m', OrderDetail.OrderDate) AS INTEGER) AS MonthNum,
            -- Round each line total, then sum
            CAST(SUM(ROUND(Product.ProductUnitPrice * OrderDetail.QuantityOrdered, 0)) AS REAL) AS Total
        FROM OrderDetail
        JOIN Product ON OrderDetail.ProductID = Product.ProductID
        GROUP BY MonthNum
    ),
    RankedMonths AS (
        SELECT
            CASE MonthNum
                WHEN 1  THEN 'January'
                WHEN 2  THEN 'February'
                WHEN 3  THEN 'March'
                WHEN 4  THEN 'April'
                WHEN 5  THEN 'May'
                WHEN 6  THEN 'June'
                WHEN 7  THEN 'July'
                WHEN 8  THEN 'August'
                WHEN 9  THEN 'September'
                WHEN 10 THEN 'October'
                WHEN 11 THEN 'November'
                WHEN 12 THEN 'December'
            END AS Month,
            Total,
            CAST(RANK() OVER (ORDER BY Total DESC) AS INTEGER) AS TotalRank
        FROM MonthTotals
    )
    SELECT
        Month,
        Total,
        TotalRank
    FROM RankedMonths
    ORDER BY TotalRank ASC;
    """

# WRITE YOUR CODE HERE
    return sql_statement

def ex11(conn):

    # Find the MaxDaysWithoutOrder for each customer
    # Output Columns:
    # CustomerID,
    # FirstName,
    # LastName,
    # Country,
    # OrderDate,
    # PreviousOrderDate,
    # MaxDaysWithoutOrder
    # order by MaxDaysWithoutOrder desc
    # HINT: Use "WITH"; I created two CTE tables
    # HINT: Use Lag
    sql_statement = """
    WITH CustomerOrders AS (
        SELECT
            OrderDetail.CustomerID,
            OrderDetail.OrderDate,
            LAG(OrderDetail.OrderDate) OVER (
                PARTITION BY OrderDetail.CustomerID
                ORDER BY OrderDetail.OrderDate
            ) AS PreviousOrderDate
        FROM OrderDetail
    ),
    CustomerGaps AS (
        SELECT
            CustomerID,
            OrderDate,
            PreviousOrderDate,
            CAST(julianday(OrderDate) - julianday(PreviousOrderDate) AS INTEGER) AS DaysWithoutOrderInt
        FROM CustomerOrders
        WHERE PreviousOrderDate IS NOT NULL
    ),
    RankedGaps AS (
        -- Pick exactly ONE row per customer: the largest gap.
        -- If there is a tie, take the earliest OrderDate with that gap.
        SELECT
            CustomerID,
            OrderDate,
            PreviousOrderDate,
            DaysWithoutOrderInt,
            ROW_NUMBER() OVER (
                PARTITION BY CustomerID
                ORDER BY DaysWithoutOrderInt DESC, OrderDate ASC
            ) AS rn
        FROM CustomerGaps
    )
    SELECT
        C.CustomerID,
        C.FirstName,
        C.LastName,
        Country.Country,
        RG.OrderDate,
        RG.PreviousOrderDate,
        CAST(RG.DaysWithoutOrderInt AS REAL) AS MaxDaysWithoutOrder
    FROM RankedGaps RG
    JOIN Customer C
        ON C.CustomerID = RG.CustomerID
    JOIN Country
        ON C.CountryID = Country.CountryID
    WHERE RG.rn = 1
    ORDER BY
        MaxDaysWithoutOrder DESC,
        C.CustomerID DESC;
    """
# WRITE YOUR CODE HERE
    return sql_statement

# **SETTING-UP YOUR DATASE:.**

In [ ]:
data_filename = "/content/data.csv"          # path to the raw data file
normalized_db = "myproject.db"      # new SQLite DB file name

# STEP 1–11: build all tables in correct order
step1_create_region_table(data_filename, normalized_db)
step3_create_country_table(data_filename, normalized_db)
step5_create_customer_table(data_filename, normalized_db)
step7_create_productcategory_table(data_filename, normalized_db)
step9_create_product_table(data_filename, normalized_db)
step11_create_orderdetail_table(data_filename, normalized_db)

print("All steps finished ✅")

All steps finished ✅

In [ ]:
conn = create_connection(normalized_db)

# list all tables that were created
tables = execute_sql_statement(
    "SELECT name FROM sqlite_master WHERE type='table';",
    conn
)
print("Tables in DB:", tables)
conn.close()

Tables in DB: [('Region',), ('Country',), ('Customer',), ('ProductCategory',), ('Product',), ('OrderDetail',)]

In [ ]:
conn = create_connection(normalized_db)

sql = ex3(conn)  # total for all customers
print(sql)       # see the SQL if you want

df = pd.read_sql_query(sql, conn)
conn.close()

df.head()

    SELECT
        Customer.FirstName || ' ' || Customer.LastName AS Name,
        ROUND(SUM(Product.ProductUnitPrice * OrderDetail.QuantityOrdered), 2) AS Total
    FROM OrderDetail
    JOIN Customer ON OrderDetail.CustomerID = Customer.CustomerID
    JOIN Product ON OrderDetail.ProductID = Product.ProductID
    GROUP BY Customer.CustomerID
    ORDER BY Total DESC;

                 Name       Total
0      Annette Roulet  6092806.79
1      Manuel Pereira  5905784.45
2      Janete Limeira  5817785.32
3  Christina Berglund  5679042.68
4           Liz Nixon  5623333.51

In [ ]:
conn = create_connection(normalized_db)
tables = pd.read_sql_query(
    "SELECT name FROM sqlite_master WHERE type='table';",
    conn
)
conn.close()
tables

              name
0           Region
1          Country
2         Customer
3  ProductCategory
4          Product
5      OrderDetail

# **Connecting with the Render:**

In [ ]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (4.9 kB)
Downloading psycopg2_binary-2.9.11-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (4.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 35.0 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11

In [ ]:
import psycopg2
import pandas as pd

CONN_STRING = "postgresql://mini_project_2_xaqr_user:wjoxSyAypH75Opn6djCf3cbjChPr9Kt4@dpg-d4lu10euk2gs738k06jg-a.oregon-postgres.render.com/mini_project_2_xaqr"

In [ ]:
import sqlite3

def migrate_sqlite_to_render(sqlite_db_path, conn_string):
    sqlite_conn = sqlite3.connect(sqlite_db_path)
    sqlite_cur = sqlite_conn.cursor()

    pg_conn = psycopg2.connect(conn_string)
    pg_cur = pg_conn.cursor()

    # get all table names from SQLite
    sqlite_cur.execute(
        "SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';"
    )
    tables = [row[0] for row in sqlite_cur.fetchall()]
    print("Found SQLite tables:", tables)

    for table in tables:
        print(f"\n🔁 Migrating table: {table}")

        # get column definitions
        sqlite_cur.execute(f"PRAGMA table_info('{table}')")
        cols_info = sqlite_cur.fetchall()
        if not cols_info:
            print(f"   ⚠️ Skipping {table} (no columns)")
            continue

        col_names = [c[1] for c in cols_info]

        # create table in Postgres (all TEXT cols)
        columns_sql = ", ".join([f'"{name}" TEXT' for name in col_names])
        create_sql = f'CREATE TABLE IF NOT EXISTS "{table}" ({columns_sql});'
        pg_cur.execute(create_sql)
        pg_conn.commit()
        print(f"   ✅ Created table: {table}")

        # clear existing data
        pg_cur.execute(f'DELETE FROM "{table}";')
        pg_conn.commit()

        # fetch rows from SQLite
        cols_joined = ", ".join([f'"{name}"' for name in col_names])
        sqlite_cur.execute(f'SELECT {cols_joined} FROM "{table}"')
        rows = sqlite_cur.fetchall()
        print(f"   ℹ️ Migrating {len(rows)} rows...")

        if not rows:
            print("   (no rows, skipping)")
            continue

        # build INSERT for Postgres
        placeholders = ", ".join(["%s"] * len(col_names))
        pg_columns = ", ".join([f'"{name}"' for name in col_names])
        insert_sql = f'INSERT INTO "{table}" ({pg_columns}) VALUES ({placeholders})'

        # ✅ batch insert instead of row-by-row
        prepared_rows = [
            [str(v) if v is not None else None for v in row]
            for row in rows
        ]

        execute_batch(pg_cur, insert_sql, prepared_rows, page_size=5000)
        pg_conn.commit()
        print(f"   ✔️ Done: {table} (inserted {len(prepared_rows)} rows)")

    # close connections
    sqlite_cur.close()
    sqlite_conn.close()
    pg_cur.close()
    pg_conn.close()
    print("\n🎉 Done: Migration complete!")


migrate_sqlite_to_render("myproject.db", CONN_STRING)

Found SQLite tables: ['Region', 'Country', 'Customer', 'ProductCategory', 'Product', 'OrderDetail']

🔁 Migrating table: Region
   ✅ Created table: Region
   ℹ️ Migrating 9 rows...
   ✔️ Done: Region (inserted 9 rows)

🔁 Migrating table: Country
   ✅ Created table: Country
   ℹ️ Migrating 21 rows...
   ✔️ Done: Country (inserted 21 rows)

🔁 Migrating table: Customer
   ✅ Created table: Customer
   ℹ️ Migrating 91 rows...
   ✔️ Done: Customer (inserted 91 rows)

🔁 Migrating table: ProductCategory
   ✅ Created table: ProductCategory
   ℹ️ Migrating 8 rows...
   ✔️ Done: ProductCategory (inserted 8 rows)

🔁 Migrating table: Product
   ✅ Created table: Product
   ℹ️ Migrating 77 rows...
   ✔️ Done: Product (inserted 77 rows)

🔁 Migrating table: OrderDetail
   ✅ Created table: OrderDetail
   ℹ️ Migrating 621806 rows...
   ✔️ Done: OrderDetail (inserted 621806 rows)

🎉 Done: Migration complete!

In [ ]:
# ✔ Connects to Render PostgreSQL
# ✔ Runs a test SELECT
# ✔ Confirms that data uploaded correctly
# ✔ Shows first 5 rows from the Product table

pg_conn = psycopg2.connect(CONN_STRING)
import pandas as pd
df = pd.read_sql('SELECT * FROM "Customer" LIMIT 5;', pg_conn)
pg_conn.close()
df

/tmp/ipython-input-871407152.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT * FROM "Customer" LIMIT 5;', pg_conn)

,CustomerID,FirstName,LastName,Address,City,CountryID
0,1,Alejandra,Camino,"Gran Via, 1",Madrid,16
1,2,Alexander,Feuer,Heerstr. 22,Leipzig,9
2,3,Ana,Trujillo,Avda. de la Constitucion 2222,Mexico D.F.,12
3,4,Anabela,Domingues,"Av. Ines de Castro, 414",Sao Paulo,4
4,5,Andre,Fonseca,"Av. Brasil, 442",Campinas,4

In [ ]:
pg_conn = psycopg2.connect(CONN_STRING)
test = pd.read_sql('SELECT COUNT(*) FROM "OrderDetail";', pg_conn)
pg_conn.close()
test

/tmp/ipython-input-2332878005.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  test = pd.read_sql('SELECT COUNT(*) FROM "OrderDetail";', pg_conn)

    count
0  621806

In [ ]:
conn = psycopg2.connect(CONN_STRING)

tables_query = """
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public'
ORDER BY table_name;
"""

tables_df = pd.read_sql(tables_query, conn)
conn.close()

tables_df

/tmp/ipython-input-1440480002.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tables_df = pd.read_sql(tables_query, conn)

                table_name
0                  Country
1                 Customer
2              OrderDetail
3                  Product
4          ProductCategory
5                   Region
6       pg_stat_statements
7  pg_stat_statements_info

In [ ]:
conn = psycopg2.connect(CONN_STRING)

query = """
SELECT
    "Country"."Country" AS Country,
    SUM(
        CAST("Product"."ProductUnitPrice" AS DOUBLE PRECISION)
        * CAST("OrderDetail"."QuantityOrdered" AS DOUBLE PRECISION)
    ) AS TotalSales
FROM "OrderDetail"
JOIN "Customer"
    ON "OrderDetail"."CustomerID" = "Customer"."CustomerID"
JOIN "Country"
    ON "Customer"."CountryID" = "Country"."CountryID"
JOIN "Product"
    ON "OrderDetail"."ProductID" = "Product"."ProductID"
GROUP BY "Country"."Country"
ORDER BY TotalSales DESC;
"""

country_sales_df = pd.read_sql(query, conn)
conn.close()

country_sales_df

/tmp/ipython-input-1887056963.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  country_sales_df = pd.read_sql(query, conn)

        country   totalsales
0           USA  65090437.08
1       Germany  55556847.68
2        France  54388486.62
3        Brazil  47467768.74
4            UK  34560755.49
5        Mexico  25146864.21
6         Spain  23968999.47
7     Venezuela  21404996.25
8        Canada  15103910.37
9     Argentina  14803866.67
10        Italy  14437243.02
11      Denmark  10611364.69
12       Sweden  10479408.14
13     Portugal  10384378.66
14      Finland  10361234.75
15  Switzerland  10324316.28
16      Austria   9961995.02
17      Belgium   9671730.34
18       Poland   5196640.06
19       Norway   4647933.35
20      Ireland   4434537.62

# **Streamlit:**

In [ ]:
!pip install streamlit psycopg2-binary pandas pyngrok

Collecting streamlit
  Downloading streamlit-1.51.0-py3-none-any.whl.metadata (9.5 kB)
Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.12/dist-packages (2.9.11)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Collecting pyngrok
  Downloading pyngrok-7.5.0-py3-none-any.whl.metadata (8.1 kB)
Requirement already satisfied: altair!=5.4.0,!=5.4.1,<6,>=4.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<7,>=4.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (6.2.2)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (8.3.1)
Requirement already satisfied: numpy<3,>=1.23 in /usr/local/lib/python3.12/dist-packages (from streamlit) (2.0.2)
Requirement already satisfied: packaging<26,>=20 in /usr/local/lib/python3.12/dist-packages (from streamlit) (25.0)
Requirement already satisfied: pillow<13,>=7.1.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (11.3.0)
Requirement already satisfied: protobuf<7,>=3.20 in /usr/local/lib/python3.12/dist-packages (from streamlit) (5.29.5)
Requirement already satisfied: pyarrow<22,>=7.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (18.1.0)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.12/dist-packages (from streamlit) (2.32.4)
Requirement already satisfied: tenacity<10,>=8.1.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (9.1.2)
Requirement already satisfied: toml<2,>=0.10.1 in /usr/local/lib/python3.12/dist-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (4.15.0)
Requirement already satisfied: watchdog<7,>=2.1.5 in /usr/local/lib/python3.12/dist-packages (from streamlit) (6.0.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /usr/local/lib/python3.12/dist-packages (from streamlit) (3.1.45)
Collecting pydeck<1,>=0.8.0b4 (from streamlit)
  Downloading pydeck-0.9.1-py2.py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: tornado!=6.5.0,<7,>=6.0.3 in /usr/local/lib/python3.12/dist-packages (from streamlit) (6.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: PyYAML>=5.1 in /usr/local/lib/python3.12/dist-packages (from pyngrok) (6.0.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.12/dist-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.12/dist-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (4.25.1)
Requirement already satisfied: narwhals>=1.14.2 in /usr/local/lib/python3.12/dist-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (2.12.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.12/dist-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit) (2025.11.12)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.12/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (3.0.3)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (0.37.0)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (0.29.0)
Downloading streamlit-1.51.0-py3-none-any.whl (10.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.2/10.2 MB 46.7 MB/s eta 0:00:00
Downloading pyngrok-7.5.0-py3-none-any.whl (24 kB)
Downloading pydeck-0.9.1-py2.py3-none-any.whl (6.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.9/6.9 MB 97.7 MB/s eta 0:00:00
Installing collected packages: pyngrok, pydeck, streamlit
Successfully installed pydeck-0.9.1 pyngrok-7.5.0 streamlit-1.51.0

In [ ]:
%%writefile app.py
import streamlit as st
import psycopg2
import pandas as pd

# 🔑 Connection string for Render PostgreSQL
CONN_STRING = "postgresql://mini_project_2_xaqr_user:wjoxSyAypH75Opn6djCf3cbjChPr9Kt4@dpg-d4lu10euk2gs738k06jg-a.oregon-postgres.render.com/mini_project_2_xaqr"

APP_PASSWORD = "myproject"  # change password if needed


def get_conn():
    return psycopg2.connect(CONN_STRING)


def check_password():
    if "auth_ok" not in st.session_state:
        st.session_state.auth_ok = False

    if not st.session_state.auth_ok:
        pwd = st.text_input("Enter password", type="password")
        if st.button("Login"):
            if pwd == APP_PASSWORD:
                st.session_state.auth_ok = True
            else:
                st.error("Wrong password ❌")
        return False

    return True


def main():
    st.set_page_config(page_title="Sales Dashboard", layout="wide")
    st.title("🛒 Sales Dashboard — Render DB Viewer")

    if not check_password():
        st.stop()

    col1, col2 = st.columns(2)

    # 🔹 LEFT SIDE — Browse Tables
    with col1:
        st.subheader("📁 Tables")

        conn = get_conn()
        tables = pd.read_sql("""
            SELECT table_name FROM information_schema.tables
            WHERE table_schema='public'
            ORDER BY table_name;
        """, conn)

        table_list = tables["table_name"].tolist()
        selected_table = st.selectbox("Select table", table_list)

        limit = st.slider("Rows", 5, 50, 10)
        query = f'SELECT * FROM "{selected_table}" LIMIT {limit};'
        st.code(query, language="sql")

        preview = pd.read_sql(query, conn)
        conn.close()

        st.dataframe(preview, use_container_width=True)

    # 🔹 RIGHT SIDE — Run Custom Queries
    with col2:
        st.subheader("🧪 Run SQL")

        default_query = 'SELECT * FROM "Product" LIMIT 5;'
        user_query = st.text_area("Write SQL query", default_query, height=140)

        if st.button("Run Query"):
            try:
                conn = get_conn()
                result = pd.read_sql(user_query, conn)
                conn.close()
                st.dataframe(result, use_container_width=True)
            except Exception as e:
                st.error(str(e))


if __name__ == "__main__":
    main()

Overwriting app.py

In [ ]:
from google.colab import files
files.download("app.py")

'\n1. Create a folder and move the downloaded one into it.\n2. nxt create a file "requirements.txt."\n3. "streamlit\npandas\npsycopg2-binary"\nedi paste chai dengu.\n4. venv create mingu - "python3 -m venv venv"\n5. dantlo ki velli mingu  - "source venv/bin/activate"\n6. requirments.txt download dengu - "pip install -r requirements.txt"\n7. run dengu - "streamlit run app.py"\n\nDone!\n'